body {
  font-family: "Roboto", sans-serif;
  background-color: #0e1113;
  padding-top: 60px;
  /* temporario */
  height: 10000px;
}

.header {
  background-color: #0e1113;
  border-bottom: solid 3px #22272e;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
  user-select: none;
}

.logo {
  color: #ffffff;
  margin-left: 20px;
  margin-right: auto;
  font-size: 24px;
  font-weight: bold;
}

.add-livro-btn {
  margin-left: auto;
  margin-right: 40px;
  padding: 5px 13px;
  background-color: #ff8000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}
.add-livro-btn:hover {
  background-color: #e77300;
}
.add-livro-btn:active {
  background-color: #ff8a1c;
}


.nav {
  background-color: #0e1113;
  border-right: solid 3px #22272e;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  margin-top: 50px;
  z-index: 1000;
  user-select: none;
}

.nav-links {
  top: 0px;
  left: 0px;
  margin-top: 20px;
  margin-left: 10%;
  /* font-size: 15px; */
  color: #dbe4e9;
  margin-right: auto;
  font-size: 90%;
}

.nav-links li{
  margin-bottom: 20px;
  cursor: pointer;
}

/* .container {
  background-color: #e77300;
  width: 60%;
  height: 100%;
  position: absolute;

  left: calc(20% + 0px);
  top: 0;

  margin-top: 50px;
} */
